<h1>GitHub Issues</h1>

<div class="my-5 border-b-2 border-blue-600"></div>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
  <!-- botones para controlar el estado (state) -->
  <div class="col-span-3 flex flex-col">
    <div class="flex gap-2">
      <button class="btn active">All</button>
      <button class="btn">Open</button>
      <button class="btn">Closed</button>
    </div>
  </div>

  <!-- listado -->
  <div class="mt-4 flex flex-col col-span-2">
    <h2>Issues</h2>
    <!-- TODO: listado de issues -->
    <!-- TODO: spinner -->
    <!-- TODO: si no hay issues por el filtro -->
  </div>

  <!-- labels -->
  <div>
    <h2>Labels</h2>
    <!-- TODO: spinner -->
    <!-- TODO: label selector -->
  </div>
</section>
